<h1>Reservations</h1>
<label>Date:</label>
<input type='text' id='period_date'></textfield>

<table>
  <tr>
    <th>Time</th>
    <th>Court 1</th>
    <th>Court 2</th>
    <th>Court 3</th>
    <th>Court 4</th>
    <th>Court 5</th>
    <th>Court 6</th>
  </tr>
  <% @reservations.each do |reservation| %>
  <td></td>
  <% end %>
</table>